@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Oak Bold", sans-serif;
}

.sticky-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  background-color: #6aaf45;
  text-align: center;
  text-decoration-color: black;
}

.sticky-bar p {
  margin: 0;
  padding: 8px 0;
  color: white;
}

.navbar {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  animation: slideDown 0.5s ease-out;
}

.nav a {
  color: #68a943;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 13px;
  cursor: pointer;
}

.nav a:hover {
  color: #077bb7 !important;
}

.logo img {
  display: block;
  position: sticky;
  top: 30px;
  left: 0px;
  width: 15%;
  height: auto;
  padding: 10px;
  z-index: 999 !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.menu-icon {
  display: inline;
  position: absolute;
  top: 45px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background-color: #6aaf45;
  margin: 6px 0;
  transition: 0.4s;
}

.menu-icon.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active div:nth-child(2) {
  opacity: 0;
}

.menu-icon.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ============== start about page ===========  */
.container {
  margin: 8rem 1rem;
}

.heading p {
  font-size: 20px;
  font-weight: bold;
  color: #6aaf45;
  padding-bottom: 2px;
  border-bottom: 2px solid #077bb7;
  width: fit-content;
  text-transform: uppercase;
}

.contents p:first-letter {
  text-transform: uppercase;
  font-size: 28px;
  color: #6aaf45;
}

.contents p {
  font-size: 17px;
  font-weight: 600;
  color: #077bb7;
}
.contents b {
  color: #68a943;
}

.contents h3 {
  font-size: 30px;
  font-weight: 400;
  color: gray;
}

.contents span {
  color: #6aaf45;
  font-weight: 600;
}
.contents ul {
  color: green;
  list-style: none;
}
.contents ul li {
  color: #077bb7;
  padding: 4px;
}

.contents ul li::before {
  content: "\2022";
  color: #6aaf45;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

.contents ol li {
  color: #077bb7;
}

.contents ol {
  list-style: none;
  counter-reset: li;
}

.contents li::before {
  content: counter(li);
  color: #6aaf45;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
}

.contents li {
  counter-increment: li;
}

.trains p:first-letter {
  text-transform: inherit !important;
  font-size: 17px;
  color: #077bb7;
}

/* ============== end about page =============  */

/* ================= start footer ================ */
footer {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  margin: 0 1rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer .left {
  width: 50%;
}

.f-logo img {
  width: 35%;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-link ul {
  padding-left: 0;
  padding-right: 20px;
}

.footer-link li {
  list-style-type: none;
  text-decoration: none;
}

.footer-link ul a {
  /* list-style-type: none; */
  font-size: 23px;
  color: #6aaf45 !important;
  text-decoration: none;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.social-icon img {
  width: 55px;
  height: auto;
  margin-right: 7px;
}

footer .right {
  width: 50%;
}
.right{
  color: #077bb7;
  width: 10px;
  height: 10px;
  text-decoration: underline;

}
.right h4{
  font-size: 1.5rem;
}

.buttom-bar hr {
  border-color: #ffffffb3;
}

.buttom-bar span {
  font-weight: 600;
  font-size: 15px;
  color: #68a943;
}
.buttom-bar span a{
  text-decoration: none;
  color: #68a943;
}

.buttom-bar p {
  margin: 0;
  padding-top: 5px;
  color: #077bb7;
  font-weight: 600;
  font-size: 15px;
}

.buttom-bar p.copyright span {
  color: red;
}

.buttom-bar p.copyright {
  text-align: center;
  color: #077bb7;
  font-weight: 600;
  padding-bottom: 15px
}

.copyright img {
  width: 41px;
  height: auto;
}
/* ================= end footer ================== */



/* Term and condition page start */
h1 {
  color: #68a943;
}

h2 {
  color:  #68a943;
}

p {
  margin-bottom: 15px;
  color: #077bb7;
}

ol {
  margin-left: 20px;
}

.section {
  margin-bottom: 30px;
}

.contact-info {
  font-weight: bold;
}

.section > h3 {
  color: #68a943;
}



/* privacy policy start */
h1 {
  color: #68a943;
}

h2 {
  color:  #68a943;
}

p {
  margin-bottom: 15px;
  color: #077bb7;
}

ol {
  margin-left: 20px;
}

.section {
  margin-bottom: 30px;
}

.contact-info {
  font-weight: bold;
}

/* privacy policy end */


/* Term and condition page end */






/* for mobile  */
@media (max-width: 480px) {
  .navbar {
    height: 100vh;
    background-color: rgb(255, 255, 255);
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .nav a {
    color: #6aaf45;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .sticky-bar {
    height: inherit;
  }

  .logo img {
    width: 40%;
    height: auto;
  }

  .about p {
    margin: 0 auto;
  }
}

/* for tablet  */
/* @media (max-width:960px) {
  

} */

